.item {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.phoneNumber {
  font-weight: 500;
  color: black;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 0;
  font-size: 10px;

  background-color: white;
  color: rgb(59, 59, 59);

  border: none;

  cursor: pointer;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: #1976d2;
}
