.wrapper {
  width: 300px;
  padding: 20px;
  margin: 0 auto;

  border-radius: 3px;

  background-color: #fff;

  box-shadow: 2px 2px 5px 0px rgba(240, 240, 240, 1);
}

.mainTitle,
.sectionTitle {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.mainTitle {
  margin-bottom: 15px;
  font-size: 20px;
}

.sectionTitle {
  margin-bottom: 10px;
  font-size: 17px;
}

.text {
  font-size: 15px;
}

.text a {
  text-decoration: none;
  color: #1976d2;
}
